
@{
    ViewBag.Title = "View All IEP";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>

    .menu {
        display: flex;
    }

        .menu button {
            margin: 10px;
            cursor: pointer;
        }

    .btn {
        border-color: #f7b205;
    }

    .button_active {
        color: white;
    }

    .content_inside {
        display: none;
        padding: 10px;
    }

    .content_inside_active {
        display: block;
    }
</style>

<link href="~/Content/adminassets/resultstyle.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="db-breadcrumb">
        <h4 class="breadcrumb-title">Users</h4>
        <ul class="db-breadcrumb-list">
            <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
            <li>View All IEP Form</li>
        </ul>
    </div>

    <div class="content">

        <div class="content_inside content_inside_active">
            <div class="content">
                <div class="audio_div">
                    <h5>GR NO:</h5>
                    <input id="Aca_GRNO" type="number" placeholder="GR_NO" style="width:25%" />
                    <button class="button_active btn btn-sm btn-primary mx-1" id="SpeechBtn" onclick="FetchAcademicData(document.getElementById('Aca_GRNO').value)">Search</button>
                    <br />
                    <h5>Student Name:</h5>
                    <span id="Aca_St_Name" style="width:25%; margin-left: 25px;"></span>
                    <br />
                    <h5>Father Name:</h5>
                    <span id="Aca_Father_Name" style="width:25%; margin-left: 25px;"></span>
                </div>
                <div>
                    <h4 style="text-align:center; margin:20px;">Individualized E-Plan</h4>
                </div>
                <table class="table table-striped table-bordered table-sm" id="academic_table" style="color:black;">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Date of Assessment</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody id="mytable"></tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="ttr-overlay"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
@*<script src="~/Content/JavaScript/ViewAllIEP.js"></script>*@
<script>

    function FetchAcademicData(id) {
        debugger
        if (id == '') return alert("Enter the GRNO!!!")
        $.get(`/IDD/GetIEPData?GRNO=${id}`,
            function (data) {
                console.log(data)
                document.getElementById("Aca_St_Name").innerHTML = data.Student.Name;
                document.getElementById("Aca_Father_Name").innerHTML = data.Student.FatherName;

                var table = document.getElementById('academic_table');
                var year = [];
                table.innerHTML = "";

                var currentTime = new Date()
                var currentyear = currentTime.getFullYear()

                var row = "";
                row = `<tr>
                            <th scope="col" class="text-center">Date of Assessment</th>
                            <th scope="col" class="text-center">Action</th>
                       </tr>`
                for (var i = 0; i < data.Performance.length; i++) {
                    if (data.Performance[i].Year == currentyear) {
                        row += `<tr>
                                        <td>${data.Performance[i].Year}</td>
                                        <td>
                                            <a class="button_active btn btn-sm btn-primary mx-1" id="true" href="/IDD/UpdateIEP?GRNO=${id}&IEP_ID=${data.Performance[i].IEP_ID}">Update</a>
                                        </td>
                                  </tr>`
                    }
                    else {
                        row += `<tr>
                                    <td>${data.Performance[i].Year}</td>
                                    <td>
                                        <button class="button_active btn btn-sm btn-primary mx-1" id="btn" disabled=disabled>Update</button>
                                    </td>
                              </tr>`
                    }
                    year.push(data.Performance[i].Year);
                }
                table.innerHTML += row;
            })
    }
</script>
